# GÃ©ocolo: Raster Analyst

Basic imports:

In [23]:
import pandas as pd
import numpy as np

Reading data:

In [24]:
dem=pd.read_csv("./DEM_example.csv",header=None)
band4=pd.read_csv("./band4.csv",header=None)
band5=pd.read_csv("./band5.csv",header=None)

In [25]:
dem

     0    1    2    3    4    5
0  210  190  170  155  140  135
1  204  183  165  145  125  120
2  200  175  160  122  110  100
3  208  187  165  150  126  120

Cells above a specific height:

In [26]:
dem>=160

      0     1     2      3      4      5
0  True  True  True  False  False  False
1  True  True  True  False  False  False
2  True  True  True  False  False  False
3  True  True  True  False  False  False

Average height:

In [27]:
dem.mean().mean()

156.875

Maximum height:

In [28]:
dem.max().max()

210

Minimum height:

In [29]:
dem.min().min()

100

## NDVI

In [30]:
ndvi=(band5-band4)/(band5+band4)
ndvi

          0         1         2         3         4         5
0  0.156229  0.151436  0.126779  0.158105  0.149771  0.145277
1  0.138319  0.124031  0.139910  0.121983  0.138762  0.119686
2  0.151316  0.134541  0.129011  0.136719  0.120735  0.121507
3  0.137748  0.129691  0.158667  0.143614  0.148631  0.146771